:root {
    --Font-Sen: 'Sen', sans-serif;
    --Font-Sora: 'Sora', sans-serif;

    --bg-1: #05192D;
    --bg-2: #072038;
    --bg-3: #041220;
    --bg-4: #28394A;
    --bg-5: #102D49;

    --text-1: #FFFFFF;
    --text-2: #758492;
    --text-3: #2B3844;
    --text-4: #00C2FF;
    --text-5: #00FF19;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: var(--Font-Sen);
    color: var(--text-1);
    background-color: var(--bg-1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    width: 1200px;
}

.title {
    font-weight: 700;
    font-size: 24px;
}

.btn {
    width: 100%;
    height: 48px;
    border: 0;
    border-radius: 26px;
    text-align: center;
    font-family: var(--Font-Sen);
    font-size: 20px;
    font-weight: 700;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: var(--text-4);
    color: var(--text-1);
}

.swap>.btn-primary {
    margin-top: 47px;
}

/* =========================NAV========================== */
nav {
    margin-top: 52px;
    padding-top: 18px;
    height: 100px;
    background-color: var(--bg-2);
    background: linear-gradient(90deg, rgba(5, 25, 45, 1) 0%, rgba(7, 32, 56, 1) 1.5%, rgba(7, 32, 56, 1) 98.5%, rgba(5, 25, 45, 1) 100%);
}

.frame>a>img {
    margin-right: 230px;
    width: 65.38px;
}

.menu {
    padding-left: 92px;
    padding-right: 53px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_item a {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-1);
    text-decoration: none;
}

.menu_item a:hover {
    color: var(--text-4);
}

.toggle {
    display: none
}

/* =========================NAV========================== */

/* =========================SWAP========================== */
.body {
    margin-top: 56px;
}

.content_swap {
    margin: 0 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dark_card {
    padding-top: 29px;
    padding-bottom: 46px;
    width: 67%;
    border-radius: 30px;
    background-color: var(--bg-3);
}

.charts {
    margin: 0 10px;
}

.charts_head {
    margin-left: 24px;
    margin-right: 35px;
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
}

.charts_title {
    font-size: 24px;
    display: flex;
    align-items: center;
}

.charts_balance,
.charts_range {
    font-size: 13px;
    font-weight: 400;
}

.charts_balance {
    margin-left: 12px;
    padding: 3px 10px;
    border: 1px solid var(--text-4);
    border-radius: 15px;
    color: var(--text-1);
    background: none;
}

.charts_balance:hover {
    cursor: pointer;
}

.charts_range {
    padding: 2px 4px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
    color: var(--text-4);
    border: 0;
    background: none;
}

.charts_range:nth-of-type(1) {
    color: var(--text-3);
    background: var(--text-1);
}

.charts_range:hover {
    color: var(--text-1);
    border-radius: 2px;
    background: var(--text-4);
}

.charts_price {
    font-family: var(--Font-Sora);
    margin-left: 21px;
}

.coin_price {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 400;

    display: flex;
    align-items: center;
}

.percent_price {
    margin-left: 14px;
    font-size: 20px;
    color: var(--text-5);
}

.coin_price_date {
    font-size: 13px;
    color: #FFFCFC;
}

.charts_sampling {
    position: relative;
    height: 263px;
}

.vector {
    position: absolute;
    width: 100%;
}

.gray_card {
    padding: 29px 0;
    width: 32%;
    border-radius: 20px;
    background-color: var(--bg-4);
}

.swap {
    margin: 0 18px;
}

.swap_head {
    margin-bottom: 28px;
    padding-right: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swap_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exchange_item {
    width: 100%;
}

.swap_ancient button {
    border: 0;
    width: 19px;
    height: 18px;
    background: none;
}

.default_setting {
    width: 100%;
}

.label_item {
    font-size: 13px;
}

.input_container {
    margin-top: 13px;
    border-radius: 15px;
    background-color: var(--bg-5);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.divider {
    height: 15px;
    border-left: 1px solid var(--text-4);
}

.insert_amount,
.type_currency {
    border: 0;
    background: none;
    height: 52px;
}

.insert_amount {
    padding: 0 14px;
    width: 48.5%;

    font-family: var(--Font-Sora);
    font-weight: 400;
    font-size: 24px;
    color: var(--text-1);

    outline-style: none;
}

.insert_amount::placeholder {
    color: var(--text-1);
}

.type_currency {
    padding: 0 19px 0 10px;
    width: 48.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.coin_logo {
    width: 22px;
}

.coin_name {
    font-family: var(--Font-Sen);
    font-size: 16px;
    font-weight: 400;
    color: var(--text-1);
}

.img_set {
    Width: 5.86px;
    Height: 7.96px;
}

.change {
    margin-top: 27px;
    margin-bottom: 4px;
    border-radius: 11px;
    background-color: var(--bg-5);

    display: flex;
    align-items: center;
}

.change_img {
    margin: 5px 7.2px;
    width: 27.14px;
    height: 31.96px;
}

@media (max-width: 1024px) {
    .main {
        width: 100%;
        /* max-width: 834px; */
        min-width: 720px;
    }

    nav {
        margin-top: 0;
        padding-top: 18px;
        height: 100px;
        background-color: var(--bg-2);
        background: linear-gradient(90deg, rgba(7, 32, 56, 1) 0%, rgba(7, 32, 56, 1) 100%);
    }

    .frame>a>img {
        margin-right: 100px;
        width: 70.53px;
        height: 61.74px;
    }

    .menu {
        padding-left: 49.96px;
        align-items: center;
    }

    .body {
        margin-top: 48px;
        margin-bottom: 75px;
    }

    .content_swap {
        margin: 0 50.2px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dark_card {
        width: 100%;
    }

    .charts_sampling {
        height: auto;
    }

    .Vector1 {
        position: relative;
    }

    .Vector2 {
        top: 0;
        left: 0;
    }

    .charts {
        margin-left: 26.05px;
        margin-right: 27.71px;
    }

    .gray_card {
        margin-top: 31px;
        padding-top: 32px;
        padding-bottom: 23px;
        width: 98%;
    }

    .swap {
        margin: 0 64px;
    }

    .swap_ancient button {
        width: 31px;
        height: 33px;
    }

    .default_setting {
        width: 100%;
    }

    .label_item {
        margin-left: 12px;
    }

    .input_container {
        padding: 0 20px;
        height: 77.09px;
    }

    .divider {
        height: 22px;
    }

    .type_currency {
        justify-content: center;
    }

    .coin_logo {
        margin-left: 20px;
        width: 42px;
    }

    .coin_name {
        margin-left: 13px;
        font-size: 20px;
    }

    .img_set {
        margin-left: 13px;
        Width: 19.24px;
        Height: 11.59px;
    }

    .change {
        margin-top: 17.73px;
        margin-bottom: -15px;
        width: 52.76px;
        height: 51px;
    }

    .change_img {
        width: 38px;
        height: 40px;
    }

    .btn-primary {
        border-radius: 20px;
        height: 62px;
    }

    .swap>.btn-primary {
        margin-top: 23.62px;
    }
}

@media (max-width: 576px) {
    .main {
        width: 100%;
        min-width: 320px;
    }

    .frame>a>img {
        width: 40px;
        height: 36px;
    }

    nav {
        width: 100%;
        padding-top: 5px;
        height: 45px;
        background-color: var(--bg-2);
    }

    .menu {
        padding: 0 20px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .toggle {
        order: 1;

        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        color: var(--text-1);
        text-decoration: none;

        display: flex;
        align-items: center;
    }

    .toggle>a>img {
        margin-left: 9px;
        width: 15px;
    }

    .menu_item {
        order: 2;

        margin: 0 auto;
        width: 85%;
        height: 48px;
        background-color: var(--bg-3);
        display: none;

        z-index: 1;
    }

    .active .menu_item {
        display: block;
    }

    .menu li:nth-of-type(2) {
        display: none;
    }

    .menu li:nth-of-type(3) {
        border-radius: 20px 20px 0 0;
    }

    .menu li:nth-of-type(8) {
        border-radius: 0 0 20px 20px;
    }

    .menu_item>a {

        font-weight: 400;
        font-size: 15px;
        line-height: 18px;

        padding: 15px 0;
        border-radius: 20px;

        text-decoration: none;
        text-align: center;
        color: var(--text-1);

        display: block;
    }

    .menu_item>a:hover {
        background-color: var(--bg-5);
    }

    .title {
        font-weight: 700;
        font-size: 15px;
    }

    .btn {
        height: 38px;
    }

    .body {
        margin: 22px;
    }

    .content_swap {
        margin: 0;
    }

    .dark_card {
        padding-top: 10px;
        padding-bottom: 12px;
        background-color: var(--bg-3);
        border-radius: 10px;
    }

    .charts {
        margin: 0 2px;
    }

    .charts_head {
        margin-left: 13.32px;
        margin-right: 18.28px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    .charts_title {
        display: flex;
        align-items: center;
    }

    .charts_balance {
        margin-top: -2px;
        margin-left: 11.68px;
        padding: 2.15px 2.77px 0.85px 3.23px;
        border: 1px solid var(--text-4);
        border-radius: 10px;
        font-size: 7px;
        font-weight: 400;
        color: var(--text-1);
        background: none;
    }

    .charts_range {
        font-size: 7px;
        font-weight: 400;
        color: var(--text-4);
        border: 0;
        background: none;
        margin: -1px;
        padding: 0.99px 1.98px;
    }

    .charts_range:nth-of-type(1) {
        color: var(--text-3);
        border-radius: 2px;
        background: var(--text-1);
    }

    .charts_range:hover {
        color: var(--text-1);
        border-radius: 2px;
        background: var(--text-4);
    }

    .charts_price {
        font-family: var(--Font-Sora);
        margin-left: 12.58px;
    }

    .coin_price {
        margin-bottom: 3.25px;
        font-size: 15px;

        display: flex;
        align-items: center;
    }

    .percent_price {
        margin-left: 4.7px;
        font-size: 9px;
        color: var(--text-5);
    }

    .coin_price_date {
        font-size: 6px;
    }

    .gray_card {
        margin-top: 16px;
        padding: 16px 0 20px 0;
    }

    .swap {
        margin: 0 20px;
    }

    .swap_head {
        margin-bottom: 6px;
        padding-right: 0;
    }

    .swap_ancient>button {
        width: 19px;
        height: 18px;
    }

    .label_item {
        margin: 0;
        font-size: 10px;
    }

    /* EXCHANGE ITEM */
    .divider {
        height: 9.74px;
        border-left: 1px solid var(--text-2);
    }

    .label_item {
        font-size: 10px;
    }

    .input_container {
        margin-top: 3.79px;
        padding: 0;

        height: 33.75px;
        background: var(--bg-5);
        border-radius: 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .insert_amount {
        width: 49%;
        height: 100%;
        border: 0;
        background: none;
        font-family: var(--Font-Sora);
        font-size: 15px;
        color: var(--text-2);
    }

    .insert_amount:focus {
        outline: none;
    }

    .insert_amount::placeholder {
        color: var(--text-2);
    }

    .type_currency {
        height: auto;
        justify-content: center;
    }

    .type_currency:hover {
        cursor: pointer;
    }

    .coin_logo {
        margin: 0;
        width: 20px;
        height: 20px;
    }

    .coin_name {
        margin-left: 5px;
        font-size: 12px;
        font-family: var(--Font-Sen);
        color: var(--text-1);
    }

    .img_set {
        width: 8px;
        height: 4px;
    }

    .change {
        margin: 19.45px auto -5px auto;
        position: relative;
        width: 40.32px;
        height: 27.57px;
        background-color: #1C3249;
        border-radius: 10px;
        z-index: 0;
    }

    .change_img {
        position: absolute;
        width: 13.16px;
        height: 15.32px;
        top: 30%;
        left: 30%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .swap > .btn-primary {
        margin-top: 31px;
        font-size: 15px;
    }
}