:root {
    --Font-Sen: 'Sen', sans-serif;
    --Font-Sora: 'Sora', sans-serif;

    --bg-1: #05192D;
    --bg-2: #072038;
    --bg-3: #041220;
    --bg-4: #28394A;
    --bg-5: #102D49;

    --text-1: #FFFFFF;
    --text-2: #758492;
    --text-3: #2B3844;
    --text-4: #00C2FF;
    --text-5: #00FF19;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: var(--Font-Sen);
    color: var(--text-1);
    background-color: var(--bg-1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--text-1);
}

a:hover {
    color: var(--text-4);
}

input,
button {
    border: 0;
    background: none;
    outline: none;
}

input {
    font-family: var(--Font-Sen);
    color: var(--text-2);
}

input::placeholder {
    color: var(--text-2);
}

button:hover {
    cursor: pointer;
}

.main {
    width: 1200px;
}

.title {
    font-weight: 700;
    font-size: 24px;
}

.btn {
    width: 100%;
    height: 48px;
    border: 0;
    border-radius: 26px;
    text-align: center;
    font-family: var(--Font-Sen);
    font-size: 20px;
    font-weight: 700;
}

.btn-primary {
    background-color: var(--text-4);
    color: var(--text-1);
}

.btn-secondary {
    background-color: var(--text-1);
    color: var(--bg-1);
}

.swap>.btn-primary {
    margin-top: 47px;
}

.dark_card {
    background-color: var(--bg-3);
}

.gray_card {
    background-color: var(--bg-4);
}

.gray_card_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* =========================NAV========================== */
nav {
    padding-top: 18px;
    height: 100px;
    background-color: var(--bg-2);
    background: linear-gradient(90deg, rgba(5, 25, 45, 1) 0%, rgba(7, 32, 56, 1) 1.5%, rgba(7, 32, 56, 1) 98.5%, rgba(5, 25, 45, 1) 100%);
}

.main_menu {
    margin-top: 52px;
}

.frame>a>img {
    margin-right: 230px;
    width: 65.38px;
}

.menu {
    padding-left: 92px;
    padding-right: 53px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_item a {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.toggle {
    display: none
}

/* =========================NAV========================== */

/* =========================SWAP========================== */
.content_swap {
    margin: 56px 85px 0 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dark_card_swap {
    padding-top: 29px;
    padding-bottom: 46px;
    width: 67%;
    border-radius: 30px;
}

.charts {
    margin: 0 10px;
}

.charts_head {
    margin-left: 24px;
    margin-right: 35px;
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
}

.charts_title {
    font-size: 24px;
    display: flex;
    align-items: center;
}

.charts_balance,
.charts_range {
    font-size: 13px;
    font-weight: 400;
}

.charts_balance {
    margin-left: 12px;
    padding: 3px 10px;
    border: 1px solid var(--text-4);
    border-radius: 15px;
    color: var(--text-1);
    background: none;
}

.charts_range {
    padding: 2px 4px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
    color: var(--text-4);
    border: 0;
    background: none;
}

.charts_range:nth-of-type(1) {
    color: var(--text-3);
    background: var(--text-1);
}

.charts_range:hover {
    color: var(--text-1);
    border-radius: 2px;
    background: var(--text-4);
}

.charts_price {
    font-family: var(--Font-Sora);
    margin-left: 21px;
}

.coin_price {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 400;

    display: flex;
    align-items: center;
}

.percent_price {
    margin-left: 14px;
    font-size: 20px;
    color: var(--text-5);
}

.coin_price_date {
    font-size: 13px;
    color: #FFFCFC;
}

.charts_sampling {
    position: relative;
    height: 263px;
}

.vector {
    position: absolute;
    width: 100%;
}

.gray_card_swap {
    padding: 29px 0;
    width: 32%;
    border-radius: 20px;
}

.swap {
    margin: 0 18px;
}

.swap_head {
    margin-bottom: 28px;
    padding-right: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swap_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exchange_item {
    width: 100%;
}

.swap_ancient button {
    width: 19px;
    height: 18px;
}

.default_setting {
    width: 100%;
}

.label_item {
    font-size: 13px;
}

.content_entry {
    margin-top: 13px;
    border-radius: 15px;
    background-color: var(--bg-5);
}

.content_entry_swap {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_entry_swap > input,
.content_entry_swap > button {
    width: 50%;
}

.content_entry_swap > input {
    padding: 0 14px;
    font-size: 24px;
}

.content_entry_swap > hr {
    width: 15px;
    height: 1px;
    border: 1px solid #11A0CC;;
    transform: rotate(90deg);
}

.content_entry_swap > button {
    padding: 0 19px 0 10px;
    font-size: 24px;
    color: var(--text-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coin_name {
    font-family: var(--Font-Sen);
    font-size: 16px;
}

.btn-images {
    /* margin-left: 13px; */
    width: 8px;
}

.change {
    margin-top: 27px;
    margin-bottom: 4px;
    border-radius: 11px;
    width: auto;
    background-color: var(--bg-5);

    display: flex;
    align-items: center;
}

.change_img {
    margin: 5px 7.2px;
    width: 27.14px;
}



/* ====================== POOL PAGE ====================== */
.body_pool {
    font-size: 16px;
    font-weight: 400;
}

.content_pool {
    margin: 150px 243.5px 0 243.5px;
}

.gray_card_pool {
    margin-bottom: 21px;
    padding: 16px 0 30px 0;
    border-radius: 15px;
}

.pool_head {
    margin: 0 14.79px 13px 26px;
    align-items: flex-start;
}

.pool_head button {
    margin-top: -6px;
    width: 23px;
    height: 23px;
}

.pool_body {
    margin: 0 26px;
}

.dark_card_pool {
    border-radius: 30px;
    padding: 39px 13.5px 21px 13.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasks_button {
    margin-bottom: 37px;
    width: 363px;
    height: 40px;
    border-radius: 15px;
    background-color: var(--bg-4);
    display: flex;
    justify-content: space-between;
}

.tasks_button>button {
    width: 50%;
    height: 100%;
    border-radius: 15px;
    font-family: var(--Font-Sen);
    font-size: 20px;
    color: var(--text-2);
    background-color: var(--bg-4);
}

.tasks_button>button:hover {
    color: var(--text-1);
    background-color: var(--bg-5);
}

.dark_card_pool>.btn-primary {
    height: 64px;
}

/* ====================== POOL PAGE ====================== */


/* ====================== STAKE PAGE ====================== */
#idLock,
#idStaking,
#idInactivePools {
    display: none;
}

.body_stake {
    font-size: 15px;
    font-weight: 400;
}

.content_stake {
    margin: 75px 79.5px 0 79.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


.gray_card_stake {
    width: 25%;
    border-radius: 20px;
    padding: 19px 0 17px 0;
}

.stake_head {
    margin: 0 19px 11px 19px;
}

.stake_body {
    margin-left: 19px;
    margin-right: 9px;
}

.paragraph_2 {
    margin-top: 11px;
    margin-bottom: 5px;
}

.paragraph>a {
    color: #3A71FF;
}

.paragraph>a:hover {
    color: var(--text-4);
}

.information {
    margin-top: 16px;
    list-style: none;
}

.information li {
    margin-bottom: 20px;
}

.information_name {
    margin-bottom: 5px;
}

.information_status {
    font-family: var(--Font-Sora);
    font-size: 24px;
}

.dark_card_stake {
    padding: 25px 0;
    width: 73%;
    border-radius: 30px;
}

.many_selection {
    margin: 0 23px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gray_card_selection {
    width: 342px;
    height: 51px;
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btn-selector {
    padding: 9px 16px;
    border-radius: 10px;
    font-family: var(--Font-Sen);
    font-size: 15px;
    color: var(--text-1);
}

.btn-selector:hover {
    background-color: var(--bg-1);
}

.legend {
    margin-left: 29px;
    color: var(--text-2);
}

.many_options {
    margin: 18px 23px 0;
}

/* .many_options img {
    width: 100%;
} */

.idContend {
    width: 100%;
}

.lock_body {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.inactivePools_up {
    display: flex;
    justify-content: space-between;
}

.inactivePools_up {
    margin: 10px 21px;
    color: var(--text-2);
}


.gray_card_staking {
    border-radius: 20px;
}

.inactivePools_down_options {
    margin: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.down_options {
    width: 48%;
}

.down_options > .content_entry > input {
    margin: 16px;
    font-size: 20px;
}

.down_options > button {
    margin-top: 23px;
    margin-bottom: 17px;
}

.idContend_lock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lock_title {
    margin-left: 5px;
    margin-bottom: 10px;
}

.lock_content_1 {
    width: 70%;
}

.lock_content_1 > .gray_card {
    border-radius: 10px;
    padding: 20px 13px;
}

.cluster {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cluster:nth-child(2) {
    margin: 30px 0;
}

.cluster_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cluster_item > img {
    width: 57px;
}

.cluster_item_name {
    margin-left: 10px;
    font-size: 15px;
}

.cluster_item_name > span {
    font-size: 32px;
    font-weight: 700;
}

.cluster:nth-child(2) > .cluster_item > .cluster_item_name > span {
    font-size: 24px;
    font-weight: 400;
}

.cluster > .content_entry {
    width: 50%;
    padding: 9px 19px;
}

.cluster > .content_entry > input {
    width: 100%;
    font-size: 40px;
    color: var(--text-1);
}

.point {
    margin-left: auto;
    margin-right: 10px;
}

.point td {
    padding: 5px;
}

.lock_content_1 > .change {
    margin: 22px auto;
    background: none;
}

.data_time {
    margin-top: 12px;
    margin-right: 34px;
    text-align: end;
    font-size: 12px;
    color: var(--text-2);
}

.lock_content_2 {
    width: 28%;
}

.lock_content_2 > .content_entry {
    padding: 18px;
    height: 95%;
}

.lock_tab_defaul {
    list-style: none;
}

.lock_tab_defaul > li {
    /* background-color: #00FF19; */
    /* font-family: var(--Font-Sen);
    font-size: 15px; */
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-items: center; */
}

.lock_tab_defaul > li > p {
    width: 70%;
}

.lock_tab_defaul > li > span {
    width: 30%;
    text-align: end;
    color: var(--text-2);
    /* background-color: #00C2FF; */
}

.lock_content_1 > .change > .change_img {
    width: 100%;
    height: 100%;
}

/* ====================== STAKE PAGE ====================== */


/* ====================== BRIDGE PAGE ====================== */
#id_modal,
#idHistory,
#idSwapGas {
    display: none;
}

.body_bridge {
    margin-top: 73px;
    background-color: #00FF19;
    display: flex;
    justify-content: center;
}

.many_options {
    width: 100%;
}

.content_bridge {
    background-color: #00C2FF;
    width: 709px;
}

.content_bridge > .dark_card_bridge {
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.dark_card_bridge {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dark_card_bridge > .gray_card_selection{
    padding: 6px 8px;
    width: 85%;
    height: 67px;
    margin-bottom: 31px;
}

.dark_card_bridge > .gray_card_selection > button{
    font-size: 20px;
    font-weight: 700;
    padding: 16px 46px;
}

.id_modal-1,
.id_modal-2,
.id_modal-3 {
    width: 100%;
    text-align: center;
}

.id_modal-1, .id_modal-2 > .legend {
    margin: 0 auto;
    font-size: 20px;
}

.element {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 58px;
}

.concept {
    text-align: center;
}

.concept > img {
    margin-bottom: 20px;
    width: 75px;
}

.concept > p > span {
    line-height: 60px;
    font-size: 24px;
    font-weight: 700;
}

.element > .change {
    width: 40px;
    background: none;
}

.gray_card_modalBridge {
    margin-bottom: 40px;
    padding-top: 18.5px;
    border-radius: 15px;
}

.gray_card_modalBridge > .cluster {
    margin: 0 19px 16.5px 80px;
}

.gray_card_modalBridge > .cluster > .content_entry {
    width: 70%;
    height: 45px;
}

.gray_card_modalBridge > .cluster > .content_entry > input {
    font-size: 20px;
    font-family: var(--Font-Sora);
    font-weight: 400;
    color: var(--text-1);
}

.gray_card_modalBridge > .cluster > .content_entry > input::placeholder {
    color: var(--text-1);
}

.gray_card_modalBridge > .content_entry {
    display: flex;
    padding: 16.5px 80px;
}

.gray_card_modalBridge > .content_entry > p {
    margin-right: 15px;
}

.gray_card_modalBridge > .content_entry > input {
    font-size: 15px;
    color: var(--text-1);
}

.gray_card_modalBridge > .content_entry > input::placeholder {
    color: var(--text-1);
}
 
.token_bridge {
    margin-top: 5px;
    padding: 4px 8px;
    border: 1px solid var(--text-1);
    border-radius: 15px;
    font-size: 15px;
    color: var(--text-1);
}

.btn-primary_bridge {
    height: 75px;
    font-size: 32px;
    font-weight: 700;
}

.text_down {
    margin-top: 40px;
    font-size: 20px;
    color: var(--text-2);
}

.id_modal-2 > textarea {
    padding: 22.5px 25px;
    width: 100%;
    border: 0;
    border-radius: 20px;
    background-color: var(--bg-4);
    outline: none;
    font-family: var(--Font-Sen);
    font-size: 20px;
    color: var(--text-2);
}
/* ====================== BRIDGE PAGE ====================== */



@media (max-width: 1024px) {
    .main {
        width: 100%;
        min-width: 720px;
    }

    nav {
        padding-top: 18px;
        height: 100px;
        background-color: var(--bg-2);
        background: linear-gradient(90deg, rgba(7, 32, 56, 1) 0%, rgba(7, 32, 56, 1) 100%);
    }

    .main_menu {
        margin-top: 0;
    }

    .frame>a>img {
        margin-right: 100px;
        width: 70.53px;
        height: 61.74px;
    }

    .menu {
        padding-left: 49.96px;
        align-items: center;
    }

    .body {
        margin-top: 48px;
        margin-bottom: 75px;
    }

    .content_swap {
        margin: 0 50.2px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dark_card_swap {
        width: 100%;
    }

    .charts_sampling {
        height: auto;
    }

    .Vector1 {
        position: relative;
    }

    .Vector2 {
        top: 0;
        left: 0;
    }

    .charts {
        margin-left: 26.05px;
        margin-right: 27.71px;
    }

    .gray_card_swap {
        margin-top: 31px;
        padding-top: 32px;
        padding-bottom: 23px;
        width: 98%;
    }

    .swap {
        margin: 0 64px;
    }

    .swap_ancient button {
        width: 31px;
        height: 33px;
    }

    .label_item {
        margin-left: 12px;
    }

    .content_entry_swap>button {
        justify-content: center;
    }
    
    .coin_name,
    .btn-images {
        margin-left: 15px;
    }

    .btn-images {
        width: 20px;
    }

    .change {
        margin-top: 17.73px;
        margin-bottom: -15px;
        width: 52.76px;
        height: 51px;
    }

    .change_img {
        width: 38px;
        height: 40px;
    }

    .btn-primary {
        border-radius: 20px;
        height: 62px;
    }

    .swap>.btn-primary {
        margin-top: 23.62px;
    }



    /* ====================== POOL PAGE ====================== */
    .body_pool {
        margin: 0;
        padding: 0;
        height: calc(100vh - 118px);
        display: flex;
        align-items: center;
    }

    .content_pool {
        margin: 0 37px;
    }

    .gray_card_pool {
        padding-bottom: 40px;
    }

    .tasks_button {
        margin-bottom: 41.52px;
        width: 414.86px;
        height: 44.89px;

    }

    /* ====================== POOL PAGE ====================== */


    /* ====================== STAKE PAGE ====================== */
    .body_stake {
        /* font-size: 15px; */
        font-weight: 400;
    }

    .content_stake {
        margin: 89px 30px 0;
    }

    .cluster_item > img {
        width: 45px;
    }

    .cluster_item_name > span {
        font-size: 32px;
    }

    .cluster > .content_entry {
        padding: 2px 14px;
    }

    .point {
        font-size: 13px;
    }

    .btn-primary {
        height: 48px;
        border-radius: 26px;
    
    }    
    /* ====================== STAKE PAGE ====================== */
}

@media (max-width: 576px) {
    .main {
        width: 100%;
        min-width: 320px;
    }

    .frame>a>img {
        width: 40px;
        height: 36px;
    }

    nav {
        width: 100%;
        padding-top: 5px;
        height: 45px;
        background-color: var(--bg-2);
    }

    .menu {
        padding: 0 20px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .toggle {
        order: 1;

        font-size: 15px;
        font-weight: 400;
        line-height: 18px;

        display: flex;
        align-items: center;
    }

    .toggle>a>img {
        margin-left: 9px;
        width: 15px;
    }

    .menu_item {
        order: 2;

        margin: 0 auto;
        width: 85%;
        height: 48px;
        background-color: var(--bg-3);
        display: none;

        z-index: 1;
    }

    .active .menu_item {
        display: block;
    }

    .menu li:nth-of-type(2) {
        border-radius: 20px 20px 0 0;
    }

    .menu li:nth-of-type(8) {
        border-radius: 0 0 20px 20px;
    }

    .menu_item>a {

        font-weight: 400;
        font-size: 15px;
        line-height: 18px;

        padding: 15px 0;
        border-radius: 20px;

        text-align: center;

        display: block;
    }

    .menu_item>a:hover {
        background-color: var(--bg-5);
    }

    .title {
        font-weight: 700;
        font-size: 15px;
    }

    .btn {
        height: 38px;
    }

    .body {
        margin: 22px;
    }

    .content_swap {
        margin: 0;
    }

    .dark_card_swap {
        padding-top: 10px;
        padding-bottom: 12px;
        border-radius: 10px;
    }

    .charts {
        margin: 0 2px;
    }

    .charts_head {
        margin-left: 13.32px;
        margin-right: 18.28px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    .charts_title {
        display: flex;
        align-items: center;
    }

    .charts_balance {
        margin-top: -2px;
        margin-left: 11.68px;
        padding: 2.15px 2.77px 0.85px 3.23px;
        border: 1px solid var(--text-4);
        border-radius: 10px;
        font-size: 7px;
        font-weight: 400;
        color: var(--text-1);
        background: none;
    }

    .charts_range {
        font-size: 7px;
        font-weight: 400;
        color: var(--text-4);
        border: 0;
        background: none;
        margin: -1px;
        padding: 0.99px 1.98px;
    }

    .charts_range:nth-of-type(1) {
        color: var(--text-3);
        border-radius: 2px;
        background: var(--text-1);
    }

    .charts_range:hover {
        color: var(--text-1);
        border-radius: 2px;
        background: var(--text-4);
    }

    .charts_price {
        font-family: var(--Font-Sora);
        margin-left: 12.58px;
    }

    .coin_price {
        margin-bottom: 3.25px;
        font-size: 15px;

        display: flex;
        align-items: center;
    }

    .percent_price {
        margin-left: 4.7px;
        font-size: 9px;
        color: var(--text-5);
    }

    .coin_price_date {
        font-size: 6px;
    }

    .gray_card_swap {
        margin-top: 16px;
        padding: 16px 0 20px 0;
    }

    .swap {
        margin: 0 20px;
    }

    .swap_head {
        margin-bottom: 6px;
        padding-right: 0;
    }

    .swap_ancient>button {
        width: 19px;
        height: 18px;
    }

    .label_item {
        margin: 0;
        font-size: 10px;
    }

    /* EXCHANGE ITEM */

    .label_item {
        font-size: 10px;
    }

    .content_entry_swap > hr {
        border: 1px solid var(--text-2);
    }

    .content_entry_swap > button > .change_img {
        width: 20px;
        height: 20px;
    }

    .coin_name {
        margin-left: 5px;
    }

    .btn-images {
        margin-left: 20px;
        width: 8px;
    }

    
    .change {
        width: 40.32px;
        height: 27.57px;
        background-color: #1C3249;
        border-radius: 10px;
        justify-content: center;
    }

    .change_img {
        width: 13.16px;
        height: 15.32px;
    }

    .swap>.btn-primary {
        margin-top: 31px;
        font-size: 15px;
    }


    /* ====================== POOL PAGE ====================== */
    .body_pool {
        margin: 0;
        padding: 0;

        align-items: flex-start;
    }

    .content_pool {
        margin: 67px 14.5px 0 14.5px;
    }

    .gray_card_pool {
        margin-bottom: 6px;
        padding: 13px 0;
    }

    .pool_head,
    .pool_body {
        margin: 0 11px;
    }

    .pool_head {
        margin-bottom: 17px;
    }

    .pool_head>button {
        width: 18px;
        height: 18px;
    }

    .dark_card_pool {
        padding: 15px 25.29px 20px 25.29px;
    }

    .dark_card_pool>.btn-primary {
        height: 38px;
        font-size: 15px;
    }

    .tasks_button {
        margin-bottom: 21px;
        width: 184.61px;
        height: 22px;
        border-radius: 8px;
    }

    .tasks_button>button {
        border-radius: 8px;
        font-size: 10px;
    }

    /* ====================== POOL PAGE ====================== */


    /* ====================== STAKE PAGE ====================== */
    .body_stake {
        font-size: 12px;
        font-weight: 400;
    }

    .content_stake {
        margin: 26px 12.5px 0 12.5px;
    }

    .body_stake {
        margin: 27px 12px;
    }

    .content_stake {
        margin: 0;
        flex-direction: column;
    }

    .many_options {
        margin: 12px 12px 0 12px;
    }

    .lock_content_1 > .change > .change_img {
        width: 100%;
        height: 100%;
    }

    .gray_card_stake {
        margin-bottom: 12px;
    }

    .dark_card_stake,
    .gray_card_stake {
        width: 100%;
    }

    .information_status {
        font-size: 15px;
    }

    .lock_tab_defaul > li > p {
        width: 48%;
    }
    
    .lock_tab_defaul > li > span {
        width: 52%;
    }

    .many_selection {
        flex-direction: column;
    }

    .gray_card_selection {
        width: 100%;
    }
    
    .gray_card_selection > .btn-selector {
        padding: 8px;
        font-size: 12px;
    }

    .legend {
        margin: 14px 0;
        font-size: 14px;
    }

    .idContend_lock {
        flex-direction: column-reverse;
    }

    .lock_content_1 {
        margin-top: 23px;
        width: 100%;
    }

    .lock_content_2 {
        margin: 0;
        width: 100%;
    }

    .cluster {
        flex-direction: column;
        align-items: flex-start;
    }

    .cluster:nth-child(2) {
        margin: 12px 0;
    }

    .cluster:nth-child(2) > .cluster_item > .cluster_item_name > span {
        font-size: 16px;
    }

    .cluster > .content_entry > input {
        padding: 9px 18px;
        font-size: 24px;
    }

    .cluster_item_name {
        font-size: 12px;
    }

    .cluster_item_name > span {
        font-size: 20px;
    }

    .cluster > .content_entry {
        width: 100%;
    }

    .point {
        margin: 0;
        width: 100%;
    }

    .lock_content_1 > .btn-primary {
        margin-top: 30px;
    }

    .lock_content_1 > .btn-primary > p {
        font-size: 15px;
    }

    .inactivePools_down_options {
        flex-direction: column;
    }
    
    .down_options {
        width: 100%;
    }

    .down_options > .content_entry {
        padding: 8px 12px;
    }

    .down_options > .content_entry > input {
        margin: 0;
        width: 100%;
    }

    /* .down_options > .content_entry > .btn-primary, */
    .down_options > button {
        margin-top: 10px;
    }

    .down_options > .btn-primary {
        margin-bottom: 0;
    }
    /* ====================== STAKE PAGE ====================== */
}